@{
    ViewData["Title"] = "Expenses";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Expense App</h1>
    <a asp-controller="Expenses" asp-action="Index" class="btn btn-primary">Overview</a>
    <a asp-controller="Expenses" asp-action="Create" class="btn btn-primary">Create new expense</a>
</div>
